* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}

.head{
    font-size: 29px;
    padding-top: 20px;
}

 

body {
    background-color: #DCDCDC;
}

.login {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #888888;
    margin: 25px auto;
}


.login_s{
    padding-top: 50px;
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    margin: 100px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
}





.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
    

}

.login form input[type="password"],
.login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
   
}

.login form input[type="submit"] {
    width: 310px;
    height: 50px;
    border-radius: 10px;

    
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

